#display {
  display: flex;
  border: black solid 1px;
  justify-content: center;
}
#todo-list {
  border: orange solid 1px;
  padding: 0 20px;
  margin: 0;
}
#calendar {
  border: red solid 1px;
  width: 60vw;
  /* flex-grow: 1; */
}

#create-todo-form {
  border: black solid 1px;
  /* display: flex; */
  margin: 5px;
}
#create-todo-form > * {
  padding: 5px;
  /* width: 100px; */
}
#create-todo-form div {
  display: flex;
  justify-content: center;
  /* border: red solid 1px; */
}
